body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.918), rgba(0, 0, 0, 0.856));
}
header{
    margin: 0;
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.959));
    text-align: center;
    padding-bottom: 120px;
}
/* maybe make the sharingan and quotes smaller together */
header h2{
    font-size: 30px;
    font-family: verdana;
    color: white;

}
header img{
    padding-top: 100px;
    border-top: 100px;
    width: 711;
    height: 400;
}

main{
    margin-left: 120px;
    margin-right: 200px;
}
/* uchiha itachi */
main h1{
    color: white;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
main h2{
    color: white;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
main p{
    color: white;
    text-align: left;
    font-family: serif;
    font-size: 20px;
}

main div{
    float: right;
    width: 20%;
    margin-right: 100px;
}
 
main div img{
    width: 100%;
    float: right;
    padding-bottom: 20px;
}


main ol{
    color: white;
}
main ul{
    color: white;
}