body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.918), rgba(0, 0, 0, 0.856));
}
header{
    margin: 0;
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.959));
    text-align: center;
    padding-bottom: 120px;
}
/* maybe make the sharingan and quotes smaller together */
header h2{
    font-size: 30px;
    font-family: verdana;
    color: white;

}
header img{
    padding-top: 100px;
    border-top: 100px;
    width: 711;
    height: 400;
}

main{
    margin-left: 150px;
    margin-right: 150px;
}
/* uchiha itachi */
main h1{
    color: white;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
main h2{
    font-size: 30;
    color: white;
    font-weight: 150;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
main p{
    color: white;
    text-align: left;
    font-family: serif;
    font-size: 20px;
}


main div img{
    float: right;
    width: 30%;
    padding-left: 20px ;
}


main aas ol{
    font-size: 20px;
    color: white;
    float: inline-end;  
    text-align: left; 
}
main aas img{
    width: 20%; 
    padding-top:20px; 
    padding-right:50px; 
    float:left;
}

main ul{
    font-size: 20px;
    color: white;
}

footer{
    background-color: rgb(219, 74, 74);
    text-align: center;
}
